<% include ./partials/header %>
<h1>My profile</h1>

<% if(currentUser.local.username !== undefined) { %>
    <div>
        <img src="<%= currentUser.local.url %>" >
    </div>
    <div>
        <%= currentUser.local.username %>
    </div>
    <a href="/logout"><button>logout</button></a>
    <hr>
    <h1>My contest</h1>
    <% include ./partials/mycontest-profile %>
<% } %>

<% if(currentUser.facebook.username !== undefined) { %>
    <div>
        <div>
            <img src="<%= currentUser.facebook.url %>" >
        </div>
        <div>
            <%= currentUser.facebook.username %>
        </div>
        <a href="/logout"><button>logout</button></a>
    </div>

    <hr>
    <h1>My contest</h1>
    <% include ./partials/mycontest-profile %>
<% } %>

<% if(currentUser.google.username !== undefined) { %>
    <div>
        <div>
            <img src="<%= currentUser.google.url %>" >
        </div>
        <div>
            <%= currentUser.google.username %>
        </div>
        <a href="/logout"><button>logout</button></a>
    </div>
    <hr>
    <h1>My contest</h1>
    <% include ./partials/mycontest-profile %>
<% } %>

<% include ./partials/footer %>
